gym/history/*
**/config.toml
**/cache
**/__pycache__/**
config_private.yaml
annotation/*
**/.DS_Store
dataset/config.toml
export_simulation/*
agent/appid.txt
eval/config.yaml
rm_result.json
eval/code_1_rewarded.json
**/log/**
**/judged*/**
ablations/**
**/private.toml
.vscode
test.jsonl
dataset/annotation/result
dataset/analyse_scenes.ipynb
events.log
gym/cfg_test.yaml
dataset/analyse_scenes.ipynb
agent_data.zip
**/.cache/