tqdm
uuid
fire
guid
docx
pyPDF2
pandas
pynput
openai
pyyaml
gradio
fastapi
uvicorn
tiktoken
tenacity
colorlog
watchdog
aw_client
jsonlines
pyperclip
codelinker
docstring_parser

[windows]
windows-toasts

[macos]
macos_notifications




