tqdm
uuid
fire
guid
docx
pyPDF2
pandas
pynput
psutil
openai
pyyaml
gradio
fastapi
uvicorn
tiktoken
tenacity
colorlog
watchdog
aw_client
jsonlines
pyperclip
pywinauto
codelinker
docstring_parser
windows-toasts; sys_platform=='win32'
macos_notifications; sys_platform=='darwin'